################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MattEland.Common/bin
/MattEland.Common/obj
/MattEland.Common.Testing/bin
/MattEland.Common.Testing/obj
/packages
MattEland.Common.Definitions/obj/
MattEland.Presentation.Logical/obj/
MattEland.Presentation.Logical/bin/

_ReSharper\.Caches/ReSharperPlatformVs146\.MattEland\.Common\.00/AnnotatedMembers/

_ReSharper\.Caches/ReSharperPlatformVs146\.MattEland\.Common\.00/
